{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% block extracss %}
        <style type="text/css">
        
        div.modal-content{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
        }
        {% for annotation_type in annotation_types %}
            .{{ annotation_type }}:hover {
            border-bottom: 1px dotted {{ annotation_type.color }};
            outline-offset: -1px;
            color: black;
            }
        {% endfor %}
        .btn:focus, .btn:active {
        outline: none !important;
        box-shadow: none !important;
        }
        .active-table-token {
        outline: 2px solid #7575a3;
        outline-offset: 0px;
        background-color: #e7e4f3;
        padding: 2px;
        color: black;
        }
        </style>
        {{ modal_form.media.css }}
    {% endblock %}
    <div>
        <div class="container">
            
            <div class="row">
                <div class="col">
                    <div class="card shadow py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col mr-2">
                                    
                                    <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><h6> <i class="fa fa-chevron-left"></i> &nbsp;{{ text.title }}&nbsp; <i class="fa fa-chevron-right"></i></h6> <div data-tooltip="Change amount of text in view"><div class="slidecontainer"></div>
                                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                                </div></div>
                                <br>
                                
                                
                                <!-- The Modal (https://www.bootply.com/112308) -->
                                <div class="modal" id="myModal" style="width: 50%; height: 100%;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                                    <div class="modal-sm ">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                
                                                <h4 class="modal-title" id="myModalLabel">Add Annotation</h4>
                                                
                                                
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                
                                                <form method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    {{ modal_form }}
                                                    
                                                    <input type="hidden" id="sel-text-value" name="sel-text-value">
                                                    <input type="hidden" id="sel-start-value" name="sel-start-value">
                                                    <input type="hidden" id="sel-end-value" name="sel-end-value">
                                                    <input type="hidden" id="current-token" name="current-token">
                                                    
                                                    
                                                    
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="button submit" class="btn btn-primary">Save changes</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="modal" id="edit_annotation_modal" style="width: 50%; height: 100%;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false"></div>
                                <!-- text w/ annotation classes rendered in view  -->
                                <div id="annotation-area log" accesskey="n" onclick="alertSelection(event)" class="text-dark font-weight-bold h5 mb-0">{{ text_html|safe }}</div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mail-custom-btn"><a onclick="previous_annotation()" class="custom-btn light-btn" href="#" role="button"><i class="fa fa-chevron-left"></i></a>
        <a onclick="next_annotation();" class="custom-btn light-btn" role="button" style="width: 126px;"><i style="color:black;" class="fa fa-space-shuttle"></i>
        </a><a class="custom-btn light-btn"
    href="#" role="button"><i class="fa fa-undo"></i></a>
    <a class="custom-btn light-btn" href="#" role="button"><i class="fa fa-save"></i></a>
    <a class="custom-btn light-btn" href="#" role="button"><i class="fa fa-trash"></i></a><a class="custom-btn light-btn"
href="#" role="button" data-tooltip="Show annotations on hover"><i class="fa fa-toggle-on"></i></a>
<button class="custom-btn light-btn" href="#" role="button" data-tooltip="Highlight sections of text to add annotations">Text</button>{% for annotation_type in annotation_types %}
    <button class="custom-btn light-btn" href="#" role="button" data-tooltip="Select and edit {{ annotation_type }} annotations">{{ annotation_type }}</button>
{% endfor %}
</div>
<!-- sents, spans, tokens and labelgroups in a table-->
<div class="row">
<div class="col">
    <div class="card shadow py-2">
        <div class="card-body">
            <div class="row align-items-center no-gutters">
                <div class="col mr-2">
                    <table class="table-responsive">
                        <tr>
                            
                            
                        </tr>
                        {% for annotation in annotations %}
                            <tr class="table-token" id="{{ annotation.id }}" onclick="select_annotation_from_table(this)">
                                <td >{{ forloop.counter }}</td>
                                
                                <td>{{ annotation.annotation_type }}</td>
                                <td>
                                    {% for label in annotation.labels.all %}
                                    {{ label.name }}{{label.attributes.all|join:", "|default_if_none:" " }}{% endfor%}</td>
                                    <td>{{ annotation.annotation_text }}</td>
                                </tr>
                            {% endfor %}
                            
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-4" href="#collapse-4" role="button">Label and Annotation Reference</a>
        <div class="collapse" id="collapse-4">
            <div class="card-body">
                
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item"><a class="nav-link active" href="#">Part of Speech</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Features</a><a class="nav-link" href="#">Lemmata</a></li>
                        <li class="nav-item"></li>
                    </ul>
                </div>
                <div class="card-body" style="height: 418px;width: 289px;"><p class="card-text"><a href="https://universaldependencies.org/u/pos/ADJ.html">ADJ</a>: adjective<br><a href="https://universaldependencies.org/u/pos/ADP.html">ADP</a>: adposition<br><a href="https://universaldependencies.org/u/pos/ADV.html">ADV</a>: adverb<br><a href="https://universaldependencies.org/u/pos/AUX_.html">AUX</a>:
                auxiliary<br><a href="https://universaldependencies.org/u/pos/CCONJ.html">CCONJ</a>: coordinating conjunction<br><a href="https://universaldependencies.org/u/pos/DET.html">DET</a>: determiner<br><a href="https://universaldependencies.org/u/pos/INTJ.html">INTJ</a>:
                interjection<br><a href="https://universaldependencies.org/u/pos/NOUN.html">NOUN</a>: noun<br><a href="https://universaldependencies.org/u/pos/NUM.html">NUM</a>: numeral<br><a href="https://universaldependencies.org/u/pos/PART.html">PART</a>: particle<br><a href="https://universaldependencies.org/u/pos/PRON.html">PRON</a>:
                pronoun<br><a href="https://universaldependencies.org/u/pos/PROPN.html">PROPN</a>: proper noun<br><a href="https://universaldependencies.org/u/pos/PUNCT.html">PUNCT</a>: punctuation<br><a href="https://universaldependencies.org/u/pos/SCONJ.html">SCONJ</a>: subordinating
                conjunction<br><a href="https://universaldependencies.org/u/pos/SYM.html">SYM</a>: symbol<a href="https://universaldependencies.org/u/pos/VERB.html">VERB</a>: verb<br><a href="https://universaldependencies.org/u/pos/X.html">X</a>: other</p></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">
</button>
{% block extrajs %}
{{ modal_form.media.js }}
<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;
slider.oninput = function() {
output.innerHTML = this.value;
}
// source http://jsfiddle.net/UuDpL/2/
// https://stackoverflow.com/questions/7991474/calculate-position-of-selected-text-javascript-jquery
function getSelectionCharOffsetsWithin(element) {
var start = 0, end = 0;
var sel, range, priorRange;
if (typeof window.getSelection != "undefined") {
selection = window.getSelection();
text = selection.toString();
range = selection.getRangeAt(0);
priorRange = range.cloneRange();
priorRange.selectNodeContents(element);
priorRange.setEnd(range.startContainer, range.startOffset);
start = priorRange.toString().length;
end = start + range.toString().length;
} else if (typeof document.selection != "undefined" &&
(sel = document.selection).type != "Control") {
range = sel.createRange();
text = range.text;
priorRange = document.body.createTextRange();
priorRange.moveToElementText(element);
priorRange.setEndPoint("EndToStart", range);
start = priorRange.text.length;
end = start + range.text.length;
}
return {
text: text,
start: start,
end: end
};
}
function alertSelection(event) {
if (event.shiftKey) {   // this toggles between text selection and annotation selection by pressing shift.  Could also add a toggle button or key pair
var mainDiv = document.getElementById("annotation-area");
// var mainDiv = $(".annotation-area");
var sel = getSelectionCharOffsetsWithin(mainDiv);
//alert(sel.start + ": " + sel.end);
$("#myModal").modal();
$("#sel-text").html(sel.text);
$("#sel-start").html(sel.start );
$("#sel-end").html(sel.end);
$("#sel-text-value").val(sel.text);
$("#sel-start-value").val(sel.start);
$("#sel-end-value").val(sel.end);
} else {
//pass
}
}
function update_annotation_form(sender) {
// ajax get form from view
//$( "div.update_modal" ).replaceWith( "<h2>New heading</h2>" );
}
function next_annotation() {
var current = $('.active-token');
current.removeClass('active-token');
$('.active-table-token').removeClass('active-table-token');
var current_class = current.attr("class");
var next_id = parseInt(current.attr('id')) + 1;
next_id.toString();
var element_name = 'a#'+next_id +'.' + current_class;
var next_element = $(element_name);
next_element.addClass('active-token');
$("#current-token").val(next_id);
$('#' + next_id + ".table-token").addClass("active-table-token");
}
function previous_annotation() {
var current = $('.active-token');
current.removeClass('active-token');
$('.active-table-token').removeClass('active-table-token');
var current_class = current.attr("class");
var prev_id = parseInt(current.attr('id')) - 1;
prev_id.toString();
var element_name = 'a#'+prev_id +'.' + current_class;
var next_element = $(element_name);
next_element.addClass('active-token');
$('#' + prev_id + ".table-token").addClass("active-table-token");
$("#current-token").val(prev_id);
}
function select_annotation(sender) {
// deselect other token
$('.active-token').removeClass('active-token');
$('.active-table-token').removeClass('active-table-token');
sender.classList.add('active-token');
// set active annotation in the table
table_id = sender.id.toString();
$('#' + table_id + ".table-token").addClass("active-table-token");
$("#current-token").val(sender.id);
event.preventDefault();
// $("#myModal" + sender.id).modal();
// https://realpython.com/django-and-ajax-form-submissions/
}
function select_annotation_from_table(sender) {
// deselect other token
$('.active-token').removeClass('active-token');
$('.active-table-token').removeClass('active-table-token');
sender.classList.add('active-table-token');
// set active annotation in the table
token_id = sender.id.toString();
$('#' + token_id + ".token").addClass("active-token");
$("#current-token").val(sender.id);
event.preventDefault();
// $("#myModal" + sender.id).modal();
// https://realpython.com/django-and-ajax-form-submissions/
}
</script>
<script>
// https://craig.is/killing/mice
Mousetrap.bind('right', function() { next_annotation(); });
Mousetrap.bind('left', function() { previous_annotation(); });
// edit exiting annotation
Mousetrap.bind('/', function() {
    if ( $( ".active-token" ).length ) {  // if an active token exists
        current_id = $('.active-token').attr('id');
        
            $( "#edit_annotation_modal" ).load({% url 'edit_annotation' %} + current_id);
            $("#edit_annotation_modal").modal();

    }});
</script>
{% endblock%}
{% endblock %}