{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-4" href="#collapse-4" role="button">Add New Texts</a>
                        <div class="collapse" id="collapse-4">
                            <div class="card-body">
                                {% if message %}
<a href="{% url 'data' %}">Click here to add another dataset</a>

                    {% else %}
                                <div class="form-group">
                            <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.file }}<br>
                            <label>or enter URL:</label>
                    {{ form.source }}<br>
                    <label>Title:</label>
                    {{ form.title }}<br>
                                        <label>Language:</label>
                    {{ form.language }}<br>
                    <label data-tooltip="If selected, the text will be automatically tokenized.  If a sentensizer is available for your language, sentences will also be generated.">spaCy language:</label>
                    {{ form.spacy_language }}<br>
                    <label data-tooltip="If selected, the sentences in the document will be sorted by word count, which allows strategic annotation.">Strategic annotation:</label>{{ form.strategic_anno }}<br>
                    <button type="submit">Submit</button>
                                                    
                    </form>
                </div>
                {% endif %}
                            </div>
                        </div>
                    </div>


                    <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-5" href="#collapse-5" role="button">Select Texts</a>
                        <div class="collapse" id="collapse-5">
                            
            <div class="earch-table-col">
                <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control" placeholder="Search by typing here.."></div><span class="counter pull-right"></span>
                <div class="table-responsive table-bordered table table-hover table-bordered results">
                    <table class="table table-bordered table-hover">
                        <thead class="bill-header cs">
                            <tr>
                                <th id="trs-hd" class="col-lg-1">Texts</th>
                                <th id="trs-hd" class="col-lg-2">Language</th>
                                <th id="trs-hd" class="col-lg-3">Author</th>
                                <th id="trs-hd" class="col-lg-2">Source</th>
                                <th id="trs-hd" class="col-lg-2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="warning no-result">
                                <td colspan="12"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                            </tr>
                            {% for dataset in datasets %}

                            <tr>
                                <td>{{ dataset.title }}</td>
                                <td>{{ dataset.language}}</td>
                                <td>{{ dataset.author }}</td>
                                {% if dataset.source%}
                                <td><a href="{{ dataset.source}}" target="_blank"><i class="fa fa-link"></i></a></td>
                                {% else %}
                                <td></td>
                                {% endif%}
                                <td><button class="btn btn-success" style="margin-left: 5px;" type="submit"><i class="fa fa-check" style="font-size: 15px;"></i></button><button class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash" style="font-size: 15px;"></i></button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
 </div>
                        </div>
                    


            <div class="container-fluid">
                <div>


                                

                       

                        

                </div>
            </div>
 
{% endblock %}