{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="container-fluid">
                <div>
{% if message %}
<a href="{% url 'data' %}">Click here to add another dataset</a>

                    {% else %}
<h2 style="margin-top:52px;margin-left:34px;font-family:'Open Sans', sans-serif;font-size:22px;font-weight:800;line-height:32px;color:rgb(0,0,0);">&nbsp; Upload or Select Texts for Annotation</h2>                    

                       <div class="form-group">
                            <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label>File:</label> {{ form.file }}<br>
                    <label>Title:</label>
                    {{ form.title }}<br>
                                        <label>Source:</label>
                    {{ form.source }}<br>
                                        <label>Language:</label>
                    {{ form.language }}<br>
                    <label>spaCy language:</label>
                    {{ form.spacy_language }}<br>
                    spacy_model
                    <button type="submit">Submit</button>
                                                    
                    </form>
                </div>
{% endif %}
                        

                </div>
            </div>
            <div class="col-md-12 search-table-col">
                <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control" placeholder="Search by typing here.."></div><span class="counter pull-right"></span>
                <div class="table-responsive table-bordered table table-hover table-bordered results">
                    <table class="table table-bordered table-hover">
                        <thead class="bill-header cs">
                            <tr>
                                <th id="trs-hd" class="col-lg-1">Texts</th>
                                <th id="trs-hd" class="col-lg-2">Language</th>
                                <th id="trs-hd" class="col-lg-3">Author</th>
                                <th id="trs-hd" class="col-lg-2">Source</th>
                                <th id="trs-hd" class="col-lg-2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="warning no-result">
                                <td colspan="12"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                            </tr>
                            {% for dataset in datasets %}

                            <tr>
                                <td>{{ dataset.title }}</td>
                                <td>{{ dataset.language}}</td>
                                <td>{{ dataset.author }}</td>
                                {% if dataset.source%}
                                <td><a href="{{ dataset.source}}" target="_blank"><i class="fa fa-link"></i></a></td>
                                {% else %}
                                <td></td>
                                {% endif%}
                                <td><button class="btn btn-success" style="margin-left: 5px;" type="submit"><i class="fa fa-check" style="font-size: 15px;"></i></button><button class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash" style="font-size: 15px;"></i></button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}