{% load static %}
{{ edit_annotation_form.media.css }}
<!-- The Modal (https://www.bootply.com/112308) -->
<!-- Broken, trying to fix, perhaps: https://stackoverflow.com/questions/10284627/using-jquery-to-load-a-django-template-with-a-form -->
<div class="modal-sm ">
	<div class="modal-content">
		<div class="modal-header">
			
			<h4 class="modal-title" id="myModalLabel">Edit Annotation</h4>
			
			
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		</div>
		<div class="modal-body">
			
			<form method="post">
				{% csrf_token %}
				{{ edit_annotation_form }}
				
				
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button class="btn btn-primary btn-icon-split" type="submit" value="TEI">
				<span class="text-white-50 icon"> <img style="height: 30px;" src="{% static 'img/slider-white.png' %}"/></span>
				<span class="text-white text">Save changes</span></span></a></button>
			</form></div>
		</div>
	</div>
</div>

{{ edit_annotation_form.media.js }}