{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-4" href="#collapse-4" role="button">Welcome!</a>
				<div class="collapse show" id="collapse-4">
					<div class="card-body">
						<p class="m-0">Cadet is an annotation application that lets you add complex labels with attributes. If you're working with TEI, for example, you can add person tags as well as attributes for age, gender and birthplace.  Cadet can also help you create Univeral Dependencies treebanks with output in CoNLL-U.  If you've ever wanted to get your friends to spend hours annotating the texts you love - this is you. We value everybody's time, so we've added machine-generated suggestions based on existing annotations.  Also, wouldn't it be nice to update the same thing wherever it appears in the text?  Cadet does that because there are other things to do with text than annotation. We hope that Cadet works for you. Chao!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row"><br></div>
	<div class="row">
		<div class="col-md-3">
			<div class="card shadow border-left-primary py-2" style="height:200px;">
				<div class="card-body"><div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>step 1</span></div><a href="{% url 'projects' %}" class="btn btn-primary btn-circle ml-1" role="button"><i class="fas fa-globe-europe text-white"></i></a>
				<div class="row align-items-center no-gutters">
					<div class="col mr-2">
						{% if request.user.is_staff %}
							<br><div class="text-dark font-weight-bold h5 mb-0"><span>Create a project</span></div>
						
					</div>
					{% else %}
					<br><div class="text-dark font-weight-bold h5 mb-0"><span>Select a project</span></div>
					</div>
					<div class="col-auto"></div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-3">
		<div class="card shadow border-left-success py-2" style="height:200px;">
			<div class="card-body"><div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>step 2</span></div><a  class="btn btn-success btn-circle ml-1" role="button"><i class="fas fa-database text-white"></i></a>
			<div class="row align-items-center no-gutters">
				<div class="col mr-2">
 					<br><div class="text-dark font-weight-bold h5 mb-0"><span>Add texts</span></div>
				</div>
				<div class="col-auto"></div>
			</div>
		</div>
	</div>
</div>

<div class="col-md-3">
	<div class="card shadow border-left-warning py-2" style="height:200px;">
		<div class="card-body"> <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>step 3</span></div><a class="btn btn-warning btn-circle ml-1" role="button"><i class="fas fa-laptop-code text-white"></i></a>
		<div class="row align-items-center no-gutters">
			<div class="col mr-2">
				<br><div class="text-dark font-weight-bold h5 mb-0"><span>Annotate</span></div>
			</div>
			<div class="col-auto"></div>
		</div>
	</div>
</div>
</div>
<div class="col-md-3">
<div class="card shadow border-left-info py-2" style="height:200px;">
	<div class="card-body"><div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>step 4</span></div>
	<a class="btn btn-info btn-circle ml-1" role="button"><i class="fas fa-file-download text-white"></i></a>
	<div class="row align-items-center no-gutters">
		<div class="col mr-2">                                    <div class="row no-gutters align-items-center">
			<div class="col-auto">
				<br><div class="text-dark font-weight-bold h5 mb-0 mr-3"><span>Export</span></div>
			</div>
			
		</div>
	</div>
	<div class="col-auto"></div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
