{% extends 'base.html' %}
{% load static %}

{% block content %}

       <div class="row">
                <div class="col-md-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="text-primary m-0 font-weight-bold">Select Label Group</h6>
                        </div>
                        <div class="card-body">
                            <p class="m-0">The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!</p>
                        </div>
                    </div>
                    <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-4" href="#collapse-4" role="button">Add or Edit Label Group</a>
                        <div class="collapse" id="collapse-4">
                            <div class="card-body">
                                <p class="m-0">This is a collapsable card example using Bootstrap's built in collapse functionality.&nbsp;<strong>Click on the card header</strong>&nbsp;to see the card body collapse and expand!</p>
                            </div>
                        </div>
                    </div>
                    <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-4" href="#collapse-4" role="button"><strong>Add or Edit Labels</strong></a>
                        <div class="collapse"
                            id="collapse-4">
                            <div class="card-body">
                                <p class="m-0">This is a collapsable card example using Bootstrap's built in collapse functionality.&nbsp;<strong>Click on the card header</strong>&nbsp;to see the card body collapse and expand!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}