{% extends 'base.html' %}
{% load static %}

{% block content %}

       <div class="row">
                <div class="col-md-12">
                    <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-1" href="#collapse-1" role="button">Select or Edit Label Set</a>
                        <div class="collapse show" id="collapse-1">
                            <div class="card-body">
                                
                                <a class="btn btn-primary btn-icon-split" role="button"><span class="text-white-50 icon"><i class="fas fa-chess-king"></i></span><span class="text-white text" data-tooltip="Head of the current word, which is either a value of ID or zero (0).">CoNLL-U</span></a>

                                <a class="btn btn-primary btn-icon-split" role="button"><span class="text-white-50 icon"><i class="fas fa-flag"></i></span><span class="text-white text">TEI P5</span></a>

                                <a class="btn btn-light btn-icon-split" role="button"><span class="icon"><i class="fas fa-plus-square"></i>
                                </span><span class="text">Add new</span></a>
                                        
                                    
                            </div>
                        </div>
                    </div>
                    
                    <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-2" href="#collapse-2" role="button">Add or Edit Label Group</a>
                        <div class="collapse" id="collapse-2">
                            <div class="card-body">
                                <p class="m-0">This is a collapsable card example using Bootstrap's built in collapse functionality.&nbsp;<strong>Click on the card header</strong>&nbsp;to see the card body collapse and expand!</p>
                            </div>
                        </div>
                    </div>
                    <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-3" href="#collapse-3" role="button">Add or Edit Labels</a>
                        <div class="collapse"
                            id="collapse-3">
                            <div class="card-body">
                                <p class="m-0">This is a collapsable card example using Bootstrap's built in collapse functionality.&nbsp;<strong>Click on the card header</strong>&nbsp;to see the card body collapse and expand!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}