{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-1" href="#collapse-1" role="button">Label Set</a>
			<div class="collapse show" id="collapse-1">
				<div class="card-body">
					
					<a class="btn btn-primary btn-icon-split" role="button"><span class="text-white-50 icon"><i class="fas fa-chess-king"></i></span><span class="text-white text" data-tooltip="Head of the current word, which is either a value of ID or zero (0).">CoNLL-U</span></a>
					<a class="btn btn-primary btn-icon-split" role="button"><span class="text-white-50 icon"><i class="fas fa-flag"></i></span><span class="text-white text">TEI P5</span></a>
					<a class="btn btn-light btn-icon-split" role="button"><span class="icon"><i class="fas fa-plus-square"></i>
						</span><span class="text">Add new</span></a>
						<hr>
						<p class="m-0">A label set is an ordered set of label groups.  This setting determines what label groups are visible in the annotator view and their order in the table.</p>
						
						
					</div>
				</div>
			</div>
			
			<div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-2" href="#collapse-2" role="button">Label Group</a>
			<div class="collapse" id="collapse-2">
				<div class="card-body">
					<p class="m-0">A label group is a cluster of associated labels. For example, part of speech or lexical features</p>
				</div>
			</div>
		</div>
		<div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-3" href="#collapse-3" role="button">Label</a>
		<div class="collapse"
			id="collapse-3">
			<div class="card-body">
				<p class="m-0">A label has a name and can be associated with multiple attributes. Each attribute has a key and value.  We could have a PERSON label, for example, with attributes <a href="https://www.tei-c.org/release/doc/tei-p5-doc/en/html/examples-person.html">'sex='intersex', 'role'='god' and 'age'='imortal'</p></a>
			</div>
		</div>
	</div>
	<div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-9" href="#collapse-9" role="button">Label Type</a>
	<div class="collapse" id="collapse-9">
		<div class="card-body">
			{% for type in anno_types %}
				<a href="{% url 'edit_annotation_type' type.id %}" class="btn btn-light btn-icon-split" role="button"><span class="text-white-50 icon"><i class="fas fa-edit"></i></span><span class="text" data-tooltip="Head of the current word, which is either a value of ID or zero (0).">{{ type.name }}</span></a>
			{% endfor %}
			
			<a  style="border: 2px; border-color: black;" href="{% url 'add_annotation_type' %}" class="btn btn-light btn-icon-split" role="button"><i class="fas fa-plus"></i></a>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}