{% extends 'base.html' %}
{% load static %}
{% block extracss %}
<style>
.token {
    border: 3px solid rgba(5,40,164,0.15);
    border-radius: 40px 40px 40px 40px;
}
</style>
{{ form.media.css }}
{% endblock %}
{% block content %}
    {% if request.user.is_staff %}
        
        <div class="shadow card"><a  href="{% url 'language' %}"><button class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-1" role="button">Base Language</a></button>
        <div class="collapse {% if request.path == '/language/' %}show{% endif %}" id="collapse-1">
        <div class="card-body">
            {% if not request.session.project_language %}
            Behind the scenes, Cadet uses a natural language processing library called spaCy.  spaCy requires a base language object with basic information about your language and its linguistic properties.  You can:
            <ul><li>Use an existing language object from the options in the language data field. A new language object with a unique name will be created for this project with language data from the existing language.  This will allows you to customize the language for this project without changing the base copy.
                <li>Create a new language object entirely from scratch. Enter a project language name and leave the language data field blank</li></ul>
                <hr>
                
                <div class="form-group">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label>Import Language data:</label>{{ form.spacy_language }}<br><br>
                        <label>Import Core Model:</label><br>{{ form.core_model }}<br><br>
                        <label>Project language name:</label><br>{{ form.language }}<br><br>
                        
                        <button class="btn btn-primary" type="submit">Submit</button>
                        
                    </form>
                </div>
                {% else %}
                This project's language is: <em>{{ request.session.project_language }}</em> <br>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<!-- STOP WORDS -->
{% include 'stop_words.html' %}

<!-- EXAMPLE TEXTS -->
{% include 'examples.html' %}

<!-- TOKENIZATION -->
{% include 'tokenization.html' %}

<!-- LEMMATA -->
{% include 'lemmata.html' %}




{% endblock %}
{% block extrajs %}
<script>
function showAlert(){
if($("#myAlert").find("div#myAlert2").length==0){
$("#myAlert").append("<div class='alert alert-success alert-dismissable' id='myAlert2'> <button type='button' class='close' data-dismiss='alert'  aria-hidden='true'>&times;</button> Success! message sent successfully.</div>");
}
$("#myAlert").css("display", "");
}
$(document).ready( function () {
        $('#stop_words_table').DataTable();
    } );
$(document).ready(function() {
    $('#lemmata_table').DataTable( {
        // ... 
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'lemma_json' %}",       
    } );
    // ...
} );

</script>
{{ form.media.js }}
{% endblock%}
