{% extends 'base.html' %}
{% load static %}
{% block extracss %}
{{ form.media.css }}
{% endblock %}
{% block content %}

    {% if request.user.is_staff %}
        
        <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-1" href="#collapse-1" role="button">Base Language</a>
        <div class="collapse show" id="collapse-1">
            <div class="card-body">
                
                Behind the scenes, Cadet uses a natural language processing library called spaCy.  spaCy requires a base language object with basic information about your language and its linguistic properties.  You can import an existing base language from spaCy and modify it or you can create a new one entirely from scratch.    
                <hr>
                <div class="form-group">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label>Enter a unique name for your project language. Please note that if a base class already exists for your language, you will need to create a new name (18th Century English, rather than English, for example):</label><br>{{ form.language }}<br>
                        <label>Cadet will create a new language object for this project that can be customized. If you would like to import language data from an existing language class, please select from the menu below. If left blank, a blank language object will be created</label>{{ form.spacy_language }}<br>
                        
                        <button type="submit">Submit</button>
                        
                    </form>
                </div>

            {% endif %}
        </div>
    </div>
</div>
    {% if request.user.is_staff %}
        
        <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-4" href="#collapse-4" role="button">Stop Words</a>
        <div class="collapse" id="collapse-4">
            <div class="card-body">
                
                <div class="form-group">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.file }}<br>
                        <label>or enter URL:</label>
                        {{ form.source }}<br>
                        <label>Title:</label>
                        {{ form.title }}<br>
                        <label>Language:</label>
                        {{ form.language }}<br>
                        <label data-tooltip="If selected, the text will be automatically tokenized.  If a sentensizer is available for your language, sentences will also be generated.">spaCy language:</label>
                        {{ form.spacy_language }}<br>
                        <label data-tooltip="If selected, the sentences in the document will be sorted by word count, which allows strategic annotation.">Strategic annotation:</label>{{ form.strategic_anno }}<br>
                        <button type="submit">Submit</button>
                        
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-5" href="#collapse-5" role="button">Select Text to Annotate</a>
<div class="collapse" id="collapse-5">
    
    <div class="earch-table-col">
        <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control" placeholder="Search by typing here.."></div><span class="counter pull-right"></span>
        <div class="table-responsive table-bordered table table-hover table-bordered results">
            <table class="table table-bordered table-hover">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd" class="col-lg-1">Texts</th>
                        <th id="trs-hd" class="col-lg-2">Language</th>
                        <th id="trs-hd" class="col-lg-3">Author</th>
                        <th id="trs-hd" class="col-lg-2">Source</th>
                        <th id="trs-hd" class="col-lg-2">Action</th>
                    </tr>
                </thead>
                {% if request.user.is_staff %}
                    <tbody>
                        <tr class="warning no-result">
                            <td colspan="12"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                        </tr>
                        
                        {% for text in all_texts %}
                            
                            <tr>
                                <td><a href="{% url 'set_text' text.id %}" class="btn btn-primary btn-icon-split" role="button"><span class="text-white-50 icon"><i class="fas fa-book"></i></span><span class="text-white text" data-tooltip="Head of the current word, which is either a value of ID or zero (0).">{{ text.title }}</span></a></td>
                                <td>{{ text.language}}</td>
                                <td>{{ text.author }}</td>
                                {% if text.source%}
                                    <td><a href="{{ text.source}}" target="_blank"><i class="fa fa-link"></i></a></td>
                                {% else %}
                                    <td></td>
                                {% endif%}
                                <td><a href="{% url 'edit_text' text.id %}" class="btn btn-success" role="button"  style="margin-left: 5px;"><i class="fas fa-edit" style="font-size: 15px;"></i></a>
                                <a href="{% url 'delete_text' text.id %}" class="btn btn-danger" style="margin-left: 5px;"><i class="fa fa-trash" style="font-size: 15px;"></i></a></td>
                            </tr>
                            
                        </div>
                    </div>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
    
    
{% endblock %}
{% block extrajs %}
    <script>
    function showAlert(){
    if($("#myAlert").find("div#myAlert2").length==0){
    $("#myAlert").append("<div class='alert alert-success alert-dismissable' id='myAlert2'> <button type='button' class='close' data-dismiss='alert'  aria-hidden='true'>&times;</button> Success! message sent successfully.</div>");
    }
    $("#myAlert").css("display", "");
    }
    </script>
    {{ form.media.js }}

{% endblock%}
