<div class="shadow card"><a  href="{% url 'lemmata' %}"> <button class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-5" href="#collapse-5" role="button">Lemmata</a></button>
<div class="collapse {% if request.path == '/language/lemmata' %}show{% endif %}" id="collapse-5">
<div class="card-body">
	<table id="lemmata_table" class="display">

		  <thead>
        <tr>
            <th>Word</th>
            <th>Lemma</th>
        </tr>
    </thead>

</table>


</div>
</div>
</div>

<!-- Edit Modal -->
  <div class="modal fade" id="EditLemmataModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      </div>
    </div>
  </div>

<script>
function edit_word(word, old, id){
	if (event.keyCode === 13) {
        event.preventDefault();
        var word = word.textContent;
        console.log(id)
        //alert(word);
        $.ajax({
        url : '/language/lemmata/edit/' + old +'/' +word, // the endpoint
        type : "GET", // http method   
        });

        //window.location.href = '/language/lemmata/edit/' + old +'/' +word;
        $('#lemmata_table').DataTable().ajax.reload(nulll, false);
    }


}


/*
$(document).ready(function() {
    $('#lemmata_table').DataTable( {
        // ...
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'lemma_json' %}",
    } );
    // ...
} );
*/ 

var table = $('#lemmata_table').DataTable({
        // ...
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'lemma_json' %}",
    });
 
$('#lemmata_table tbody').on( 'onmouseover', 'tr', function () {
    console.log( table.row( this ).data() );
} );
</script>
