{% load static %}
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background-color: #00335b;width: 239px;margin: 0px;padding: 1px;background-position: right;background-image: url(&quot;{% static 'img/noun_Space_1758780.png' %}&quot;);">
    <div class="container-fluid d-flex flex-column p-0"><a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" style="width: 140px;"></a>
    
    <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="{% url 'index' %}">
        <div class="sidebar-brand-icon rotate-n-15"></div>
        <div class="sidebar-brand-text mx-3"><span>Cadet</span></div>
    </a>
    
    <hr class="sidebar-divider my-0">
    <ul class="nav navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item" role="presentation"></li>
        <li class="nav-item" role="presentation"></li>
        <li class="nav-item" role="presentation"></li>
    </ul>
    <ul class="nav navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item" role="presentation">
            
            
            <a  {% if request.resolver_match.url_name == 'projects' %}style="background-color: #9e2387;" class="nav-link active" {% else %}class="nav-link"{% endif %} class="nav-link active"  href="{% url 'projects' %}"><i class="fas fa-globe-europe"></i>
            {% if request.session.project_title %}
                <span>Project ~ {{ request.session.project_title }}</span>
            {% else %}
                <span>Project</span>
            {% endif %}
        </a>
    </li>
    <li class="nav-item dropdown">
        <a {% if request.resolver_match.url_name == 'language' %} class="nav-link dropdown-toggle" style="background-color: #9e2387;" {% else %} class="nav-link dropdown-toggle" {% endif %} id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if request.user.is_staff %}
            {% if not request.session.project_title %}
            {% endif %}
            {% if request.session.project_title %}
                <i class="fas fa-meteor"></i><span>Language {% if request.session.project_language %}~ {{ request.session.project_language }}{% endif %}</span></a>
            {% endif %}{% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'language' %}">Base Language</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'stop_words' %}">Stop Words</a>
            <a class="dropdown-item" href="{% url 'examples' %}">Example Sentences</a>
            <a class="dropdown-item" href="{% url 'tokenization' %}">Tokenization</a>
            <a class="dropdown-item" href="{% url 'lemmata' %}">Lemmata</a>
            
            
            
            
            
        </div>
    </li>
    
    <li class="nav-item">
        {% if request.user.is_staff %}
            {% if not request.session.project_title %}
            {% endif %}
            {% if request.session.project_title %}
                <a {% if request.resolver_match.url_name == 'labels' %}style="background-color: #9e2387;" class="nav-link active"{% else %}class="nav-link"{% endif %}
                href="{% url 'labels' %}"><i class="fas fa-map-signs"></i><span>Labels</span>{% if request.session.labelset_title %} ~ {{ request.session.labelset_title }}{% endif %}</a>
            {% endif %}{% endif %}
        </li><li class="nav-item">
        {% if not request.session.project_title %}
        {% endif %}
        {% if request.session.text_id %}
            <a {% if request.resolver_match.url_name == 'data' %}style="background-color: #9e2387;" class="nav-link active"{% else %}class="nav-link"{% endif %} href="{% url 'data' %}"><i class="fas fa-database"></i><span>Text ~ {{ request.session.text_title }}</span></a>
            {% elif request.session.project_title %}
            <a {% if request.resolver_match.url_name == 'data' %}style="background-color: #9e2387;" class="nav-link active"{% else %}class="nav-link"{% endif %} href="{% url 'data' %}"><i class="fas fa-database"></i><span>Text</span></a>
            
        {% endif %}
    </li><li class="nav-item">
    {% if request.session.project_title and request.session.text_slug %}
        <a href="{% url 'annotate' request.session.project_slug request.session.text_slug %}" {% if request.resolver_match.url_name == 'annotate' %}style="background-color: #9e2387;" class="nav-link active"{% else %}class="nav-link"{% endif %}><i class="fas fa-laptop-code"></i><span>Annotate</span></a>
    {% endif %}
</li><li class="nav-item">
{% if request.user.is_staff %}
    {% if not request.session.project_title %}
    {% endif %}
    {% if request.session.project_title %}
        <a {% if request.resolver_match.url_name == 'export' %}style="background-color: #9e2387;" class="nav-link active" {% else %} class="nav-link"{% endif %} href="{% url 'export' %}" style="background-color: transparent;"><i class="fas fa-file-download"></i><span>Export</span></a>{% endif %}{% endif %}
    </li>
</ul>
<ul class="nav navbar-nav text-light" id="accordionSidebar">
    <li class="nav-item" role="presentation"></li>
</ul>

</div>
</nav>
<div class="d-flex flex-column" id="content-wrapper">
<div id="content">
<nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
        <!-- Search bar from Bootstrap theme. Kept for posterity.
        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
        </div>
    </form>
    -->
    <!-- Messages go here, TO DONE!-->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <ul class="nav navbar-nav flex-nowrap ml-auto">
        <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
        <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
            <form class="form-inline mr-auto navbar-search w-100">
                <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
            </div>
        </form>
    </div>
</li>

<li class="nav-item dropdown no-arrow mx-1" role="presentation">
    <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
        
    </div>
</li>
<div class="d-none d-sm-block topbar-divider"></div>
<li class="nav-item dropdown no-arrow" role="presentation">
    <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">{{ request.user.username }}</span><img class="border rounded-circle img-profile" src="{% static 'img/favicon.png' %}"></a>
    <div
        class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a class="dropdown-item" role="presentation" href="{% url 'admin:auth_user_changelist' %}"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" role="presentation" href="{% url 'admin:index' %}"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
        
        <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
    </div>
</li>
</ul>
</div>
</nav>