{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-5" href="#collapse-5" role="button">Seed Terms</a>
<div class="collapse show" id="collapse-5">
    
        <div class="form-group pull-left col-lg-4"><input type="text" class="search form-control" placeholder="Search by typing here.."></div><span class="counter pull-right"></span>
        <div class="table-responsive table-bordered table table-hover table-bordered results">
            <table class="table table-bordered table-hover">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd" class="col-lg-2">Term</th>
                        <th id="trs-hd" class="col-lg-2">Frequency</th>
                        <th id="trs-hd" class="col-lg-3">Has annotations</th>
                        <th id="trs-hd" class="col-lg-2">Annotate</th>
                        
                    </tr>
                </thead>
                
                    <tbody>
                        <tr class="warning no-result">
                            <td colspan="12"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                        </tr>
                        
    					{% for word, spans in seed_spans.items %}
   
    
                            
                            <tr>
                                <td><a href="#" class="btn btn-primary btn-icon-split" role="button"><span class="text-white-50 icon"><i class="fas fa-book"></i></span><span class="text-white text" data-tooltip="Head of the current word, which is either a value of ID or zero (0).">{{ word.0 }}</span></a></td>
                                
                                <td>{{ word.1 }}</td>
                            
                                <td><a href="#" class="btn btn-success" role="button"  style="margin-left: 5px;"><i class="fas fa-edit" style="font-size: 15px;"></i></a>
                                <a href="#" class="btn btn-danger" style="margin-left: 5px;"><i class="fa fa-trash" style="font-size: 15px;"></i></a></td>
                            </tr>
                            
                        </div>
                    </div>
                {% endfor %}
            </tbody>
        </table>
    

    
</div></div></div>
{% endblock %}
