.select2-container,.select2-search__field {
    width: 100%!important;    
}
.select2-selection__choice {
    display: inline-block;
    padding: 0 8px;
    margin-bottom: 2px;
    line-height: 1.6;
    font-weight: bold;
    background-color: rgb(230, 230, 230);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.select2-search__field {
    padding: 4px 8px!important;
}

.select2-results__option {
    font-size: 12px!important;
}
#main {
    font-family: Arial;
    font-size: 14px;
    padding-right: 20px;
    position: relative;
    width: 100%;
    text-align: left;
}
.left {
    background: none repeat scroll 0 0 #eee;
    float: left;
    padding:10px;
    width:45%;
    text-align: left;
    height: 100%;
    margin-right: 10px;
}
.right {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    overflow: hidden;
    padding: 20px 10px;
    width:45%;
}
.tag {
    background-color: #eee;
    font-size: 11px;
    padding: 4px 6px;
    border-radius: 4px;
}

#annotations-list-title {
    margin-bottom: 14px;
}

.annotation-category-done ul {
    margin-top: 6px;
    padding-left: 24px;
}

.annotation-category-done ul li {
    margin-bottom: 14px;
}

.annotation-category-done,.annotation-category-not-done {
    border-left: 2px solid #4F9E06;
    padding-left: 12px;
    margin-bottom: 14px;
}

.annotation-category-not-done {
    border-left: 2px solid #f00;
}

.annotation-item {
    font-size: 13px;
}

.annotation-item span {
    margin-bottom: 5px;
}

.annotation-item .quote {
    display: block;
}

.annotation-item .text {
    color: #777;
    margin-bottom: 10px!important;
}
